<div id='connectcontent'>
    <div id='headzone'>
    <p class='cnxtype'>[[cnx from]] <b>[[cnx degree]]</b> &nbsp;&nbsp;<a href='?action=logout&lang=[[lang]]' class="disclass"><img width=16 height=16 src='public/picture/system/logout.png' /> <!-- action disconnect zone --></a></p>
    </div>
    <div id='applilimit'>
            <div id='perso'>
                    <div class='actionb'>
                            <table class='global_space'>
                                    <!-- action menu zone -->
                            </table>
                    </div>
            </div>
            <!--                             ACTIVITIES                            -->
            <div id='activities'>
                    <div id='tasktitle'><!-- task tile zone --> <span id='titleloadingzone'></span></div>
                    <div id='taskcontent'>
                            <!-- activities zone -->
                    </div>
            </div>
    </div>
</div>
<p id='fstxt' class='hidden'>[[find_product_msg]]</p>